.custom-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  align-items: center;
  row-gap: 2rem;
}
.w-10-percent {
  width: 10%;
}
@media (max-width: 500px) {
  .custom-grid {
    grid-template-columns: 60px 1fr;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    row-gap: 1rem;
  }
}
